.def1-hidden {
  display: none;
}

.def2-hidden {
  display: none;
}

.def3-hidden {
  display: none;
}

.def4-hidden {
  display: none;
}

.def5-hidden {
  display: none;
}

.def6-hidden {
  display: none;
}